:root{
    --skin-color: #ec1839;
}
.hidden{
    display:none !important;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    
}